.env
.venv
src/__pycache__
connectors/__pycache__
rag/__pycache__/chain.cpython-313.pyc
debug_auth.py
run_search.py
salesforce_tools.py
test_tools.py
verify_tool.py
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?